* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 75%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.grass-container {
    width: 75%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 60px;
    animation: pipe-animation 1.75s infinite linear;
}

.mario {
    position: absolute;
    bottom: 0;
    width: 40px;
    left: 50px
}

.jump {
    animation: jump 500ms ease-out;
}

.gameover {
    animation: game-over 1.5s;
}

.cloud {
    top: 175px;
    width: 50px;
    height: 10px;
    position: absolute;
    animation: clauds-animation 40s infinite linear;
}

.clouds {
    top: 40px;
    width: 300px;
    height: 75px;
    position: absolute;
    animation: clauds-animation-2 30s infinite linear;
}

.clouds-2 {
    top: 70px;
    width: 400px;
    height: 95px;
    position: absolute;
    animation: clauds-animation-3 15s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0; 
    }

    45% {
        bottom: 200px;
    }

    55% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes game-over {

    50% {
        bottom: 180px;
    }

    100% {
        bottom: -80px;
    }
}

@keyframes clauds-animation {
    from {
        right: -50px;
    }

    to {
        right: 100%;
    }

}

@keyframes clauds-animation-2 {
    from {
        right: -300px;
    }

    to {
        right: 100%;
    }

}

@keyframes clauds-animation-3 {
    from {
        right: -400px;
    }

    to {
        right: 100%;
    }
}